.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
.docx
.dta
.xlsx
.csv

# ---VVV--- added by orderly ---VVV----------------
# Don't manually edit content between these markers
.outpack
orderly_envir.yml
draft
archive
# ---^^^--- added by orderly ---^^^----------------
